body {
	font-family: "Ubuntu";
	color: #6699CC;
}

#course_table {
	padding: 10px;
	border-spacing: 10px;
}

#course_table td {
	padding: 8px;
}

#header_row {
	font-size: 15px;
}

#course_table { 
	border-collapse:collapse;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
}

#course_table h4 { 
	margin:0px; 
	padding:0px;

}
#course_table img { 
	float:right;
}

#course_table ul { 
	margin:10px 0 10px 40px; 
	padding:0px;
}

#course_table th { 
	/*background:#7CB8E2 repeat-x scroll center left; */
	color:#fff; 
	padding:7px 15px; 
	text-align:left;
}

#course_table td { 
	/*background:#C7DDEE none repeat-x scroll center left; */
	color:#000; 
	padding: 7px 15px; 
}

#course_table tr.odd td { 
	/*background:#fff repeat-x scroll center left; */
	cursor:pointer; 
}

#course_table div.arrow { 
	background:transparent url(../images/arrows.png) no-repeat scroll 0px -16px; 
	width:16px; 
	height:16px; 
	display:block;
}

#course_table div.up { 
	background-position:0px 0px;
}

#course_table #header_row {
	background-color: #6699CC;
}
 
#course_table tr.even {
	background-color: #eeeeee;
	border-bottom: 1px #bbbbbb solid !important;
}

#course_table tr.odd {
	background-color: #cccccc;
	border-bottom: 1px #bbbbbb solid !important;
}

#main_table tr:nth-child(even):hover {
	background-color: #522C1B;
	color: white;
}

