<!-- views/about.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/about.css"/>
	<link rel="stylesheet" type="text/css" href="../css/fonts.css"/>
</head>

<body>
<div class="container">

<div id="nav_bar" class="noprint">
	<a href="/" class="btn btn-default">Home</a>
	<a href="/login" class="btn btn-default">Login</a>
	<a href="/signup" class="btn btn-default">Signup</a>
	<a href="/schedule" class="btn btn-default">Schedule</a>
</div>

<p>About:</p>
<p>Me's bes the Sleeks</p>

</div>

</body>
</html>